<B>Test Name	:</B> ${TestName}
<B>Test Type	:</B> ${TestType}
<B>Test Suite	:</B> ${TestSuite}
<B>Test ID 	:</B> ${TestID}
<B>Test Link	:</B> ${TestLink}
<B>Status  	:</B> <font color = ${color}>${Status}</font>
<B>Duration	:</B> ${Duration}
<B>Memory Usage :</B> ${MemoryUsage}

Last Successful Version - ${LastSuccessfulVersion}

<U>Description</U>
${Description}

<U>Pass Criteria</U>
${PassCriteria}

<U>Failure Or Skip Reason</U>
${FailureOrSkipReason}