<font size = "1">
<B>Software Name: </B>${SW_Name}<br/>
<B>Software Version (Build): </B>${SW_Version}<br/>
<B>Environment (OS/Platform): </B>${Environment}<br/>
<B>Date & Time Report Generated: </B>${DateTime}<br/>
<B>Test Run Duration: </B>${TestRunDuration}<br/>
<B>Summary - Total Passed:&nbsp </B>${TotalPassed}<B>&nbsp &nbspTotal Failed:&nbsp </B>${TotalFailed}<B>&nbsp &nbspSkipped:&nbsp </B>${Skipped}<br/>
<B>Test Article Set: </B>${TAS}<br/>
<B>Test Matrix ID: </B>${TMID}<br></br>
</font>
<table id = "record">
    <tr class = "title">
        <td colspan = "1" align = "left"><div class = "showHideNotes"><B>-</B></div></td>
        <td colspan = "1" align = "center"><div class = "testNotesTitle">Test Notes</div></td>
    </tr>
    <tr class = "notes">
        <td colspan = "2">
        <pre style = "white-space: pre-wrap;"><div class = "theTestNotes">${theTestNotes}</div></pre>
        </td>
    </tr>
</table><br/>
<br/>