<tr class = "test ${index}">
        <td colspan = "1" align = "center"><div class = "expandCollapse"><B>-</B></div></td>
        <td colspan = "1" align = "left"><div class = "testType">${TestType}</div></td>
        <td colspan = "1" align = "left"><div class = "description">${Description}</div></td>
        <td colspan = "1" align = "center" ${bgcolor}><div class = "status"><font color = '${color}'><b>${Status}</b></font></div></td>
        <td colspan = "1" align = "left"><div class = "passCriteria">${PassCriteria}</div></td>
</tr>
<tr class = "details ${index}">
   <td colspan = "5">
        <B><U>Test Details</B></U><pre style = "white-space: pre-wrap;"><span class = "testDetails">${testDetails}
  </span></pre><br/>
 </td>
</tr>